<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="secondary">CLOSE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <div class="content">
    <img src="../../assets/images/steps-01.png" alt="" >
  </div> -->

    <div class="timeline">
      <div class="timeline-month">
        Simple Steps to your New Account
      </div>
      <div class="timeline-section">
        <div class="timeline-date">
          1: Choose your Account Type
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="timeline-box">
              <div class="box-content">
                <div class="box-item">You will select the type of account that best suits your needs.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-section">
        <div class="timeline-date">
          2: Verify your Email and phone number
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="timeline-box">
              <div class="box-content">
                <div class="box-item">We will then begin by validating your email and phone number by sending you an OTP.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-section">
        <div class="timeline-date">
          3: Upload Identification documents
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="timeline-box">
              <div class="box-content">
                <div class="box-item">You will then be required to take a photo of your identification document e.g National ID Card/Passport.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-section">
        <div class="timeline-date">
          4: Preference and Occupation details
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="timeline-box">
              <div class="box-content">
                <div class="box-item">You will fill in your preference details(address details, your prefered Ecobank branch) and your occupation details.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-section">
        <div class="timeline-date">
          5: Selfie
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="timeline-box">
              <div class="box-content">
                <div class="box-item">You will then take a selfie image of your face.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-section">
        <div class="timeline-date">
          6: Confirm & Submit
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="timeline-box">
              <div class="box-content">
                <div class="box-item">Review your information, confirm your details, and submit your application.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
