<ion-content class="bg">
  <div id="container" style="position: relative; height: 100%; overflow: auto;">
    <!-- Background image with overlay -->
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); pointer-events: none;"></div>

    <!-- Your existing content -->
    <div class="logo-img" style="position: relative; z-index: 2;">
      <img src="../../assets/images/logo-white.png" alt="Logo" height="83" width="167"/>
    </div>

    <div class="welcome-info uk-text-center" style="position: relative; z-index: 2;">
      <span class="welcome-title">
        Success! <br> Your application has been sent.
      </span>
      <p class="welcome-desc">Review time. The sms and email will have account details and how to transact.</p>
    </div>

    <div class="start-btn uk-margin-xlarge-top">
      <ion-button color="primary" expand="block" mode="md" [routerLink]="['/home']" routerLinkActive="router-link-active">
        @if(!loading) {
          Done
        }
        @if(loading){
          <ion-spinner name="circular"></ion-spinner>
        }
      </ion-button>
    </div>
  </div>
</ion-content>
