<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/identification"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="uk-margin-small-top">
    <div  class="uk-margin-large-left ">
      <div>
        <h4 class="browse" style="width: 80%;">Now take a photo of the<strong style="color: #005B82 !important; "> Front </strong> &
          <strong style="color: #005B82 !important; "> Back</strong> of your National ID
        </h4>
      </div>
    </div>
    <div class="">
      <!--FRONT ID-->
        <div class="ion-padding">
          <div class="uk-container uk-container-xsmall">
            <div>
              @if(frontImage.length > 0 && !loader.scanningFront && loader.frontIdScanSuccess){
                <div class="uk-card-media-top">
                  <img [src]="this.frontImage" width="100%" alt="Passport" style="border: solid 3px #005B82; border-radius: 4px;">
                </div>
              }

            @if((frontImage.length <= 0 || !loader.scannedFront) && !loader.frontIdScanSuccess){
              <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" (click)="openCamera('id_front')">
                <div class="uk-flex uk-flex-between  uk-margin-small-top">
                  <div>
                    <span>
                      <img src="assets/images/id_front.png" height="50" width="50" alt="Front ID">
                    </span>
                    <strong>
                      @if(loader.scanningFront && !loader.savingFront){
                        Scanning Front ID
                        }
                        @if(!loader.scanningFront && !loader.savingFront){
                          Scan Front of ID
                        }
                    </strong>
                  </div>
                  <div>
                    @if(loader.scanningFront){
                      <ion-spinner name="circular" color="secondary"></ion-spinner>
                    }
                    @if(!loader.scanningFront){
                      <ion-icon class="iconSize" name="chevron-forward-outline"></ion-icon>
                    }
                  </div>
                </div>
              </div>
            }
            </div>
          </div>
        </div>


      <!--BACK ID-->
      <div class="ion-padding">
        <div class="uk-container uk-container-xsmall">
          <div>
            @if(this.backImage.length > 0 && !loader.scanningBack && loader.backIdScanSuccess){
              <div class="uk-card-media-top">
                <img [src]="this.backImage" width="100%" alt="" style="border: solid 3px #005B82; border-radius: 4px;">
              </div>
            }

            @if((this.backImage.length <= 0 || !loader.scannedBack) && !loader.backIdScanSuccess){
              <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m"  (click)="openCamera('id_back')">
                <div class=" uk-flex uk-flex-between uk-margin-small-top">
                  <div>
                    <span>
                      <img src="assets/images/id_back.png" height="50" width="50" alt="Back ID">
                    </span>
                    <strong>
                      @if(loader.scanningBack && !loader.savingBack){
                      Scanning Back ID
                      }
                      @if(!loader.scanningBack && !loader.savingBack){
                        Scan Back of ID
                      }
                    </strong>
                  </div>
                  <div>
                    @if(loader.scanningBack){
                      <ion-spinner name="circular" color="secondary"></ion-spinner>
                    }
                    @if(!loader.scanningBack){
                      <ion-icon class="iconSize" name="chevron-forward-outline"></ion-icon>
                    }
                  </div>
                </div>
              </div>
            }

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="id_no uk-text-center" *ngIf="this.signImage.length > 0">
     <div>
      <h4 class="ion-text-center uk-margin-small-top">ID Number: <strong>34425310</strong></h4>
     </div>
    </div> -->

    <div class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top">
      <ion-button
      (click)="toPreference()" size="small" mode="md"
      expand="block"
      fill="solid"
      >
      {{ loader.loading ? '' : 'Continue'}}
      <ion-spinner *ngIf="loader.loading" name="circular" color="light"></ion-spinner>
    </ion-button>
    </div>

  </div>
</ion-content>
