<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/requirements"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center title" >Next of Kin Information</ion-title>
  </ion-toolbar>
  <div class="progress-bar">
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step"></div>
    <div class="step"></div>
    <div class="step"></div>
  </div>
</ion-header>

<ion-content class="content-body" [fullscreen]="false">

<div class="form-item">
  <form   [formGroup]="authForm" style="">

    <div>
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">First name <span class="uk-text-danger" >*</span>
          </ion-label>
          <ion-input name="text" maxlength="35" type="text" formControlName="idNumber" label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['idNumber'].hasError('pattern') && f['idNumber']dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID must be a valid ID number
              address
          </small>
          <small class="error-message"
              *ngIf="f['idNumber'].hasError('required') && f['idNumber'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID number is required
          </small>
      </div>
  </div>
     <!-- Email Address -->
     <div>
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;" >Last name <span class="uk-text-danger">*</span>
          </ion-label>
          <ion-input name="email" maxlength="35" type="email" formControlName="emailAddress"  label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['emailAddress'].hasError('pattern') && f['emailAddress'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email must be a valid email
              address
          </small>
          <small class="error-message"
              *ngIf="f['emailAddress'].hasError('required') && f['emailAddress'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email is required
          </small>
      </div>
  </div>
    <div style="margin-left: 15px; margin-right: 15px !important; margin-top: 15px;">
      <ion-label position="stacked" class="labels" style="font-size: 15px !important;">Phone Number <span class="uk-text-danger">*</span></ion-label>
      <ngx-intl-tel-input
      [cssClass]="'custom'"
      formControlName="phone"
      [preferredCountries]="[CountryISO.Kenya, CountryISO.Uganda, CountryISO.Rwanda]"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
      [enableAutoCountrySelect]="false"
      [enablePlaceholder]="true"
      [customPlaceholder]="'0700 000 000'"
      [searchCountryFlag]="true"
      [separateDialCode]="true"
      [selectedCountryISO]="CountryISO.Kenya"
      ></ngx-intl-tel-input>
        <div class="validation-error uk-text-danger">
          <small class="error-message"
              *ngIf="f['phone'].hasError('required') && f['phone'].dirty && f['phone'].touched">
              <ion-icon name="information-circle-outline"></ion-icon>Phone number is required
          </small>
      </div>
    </div>

    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Relationship<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable
          formControlName="branch"
          [items]="fruits"
          itemValueField="value"
          [hasInfiniteScroll]="true"
          placeholder="Select branch"
          [isEnabled]="true"
          itemTextField="text"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>

 <br>

  <div class="p-btn">
    <ion-button expand="block" size="medium" (click)="toOccupation()">
      Proceed
    </ion-button>
  </div>



  </form>

</div>

</ion-content>
