
<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center" >OTP Verification</ion-title>
  </ion-toolbar>
  <div class="progress-bar">
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step"></div>
    <div class="step"></div>
  </div>
</ion-header>
<div class="uk-margin-large-top">
  <div style="padding-left:10px; padding-top:10px;" >
    <h4 class="browse" style="width: 80%;">Let's
        <span style="color: #005B82;"><strong> verify </strong>
        </span>the <span style="color: #005B82;"><strong>OTP</strong>
        </span> sent to your phone number and email
    </h4>
  </div>

  <form [formGroup]="otpForm" style="padding: 10px;"
   novalidate
  (submit)="otpForm.valid && verifyOtp()">
  <div style="width: 100%;">
      <!-- Email Address -->
      <div>
          <ion-item lines="none" mode="md">
              <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;" >Enter the code here <span
                      class="uk-text-danger">*</span>
              </ion-label>
              <ion-input name="smscode" type="text" label="" formControlName="smsCode">
              </ion-input>

              <span class="contact-info">

                  A code has been sent to this email address
                  <span class="blue-info">{{ auth.emailAddress }}</span>

                  and phone number: <span class="blue-info">{{ auth.phoneNumber }}</span>

              </span>
          </ion-item>

          <div>
            <ng-otp-input formControlName="smsCode"  [config]="{length:6}"></ng-otp-input>
          </div>
          <div class="validation-error uk-text-danger">
              <small class="error-message" *ngIf="of['smsCode'].hasError('required') && of['smsCode'].dirty">
                  <ion-icon name="information-circle-outline"></ion-icon>SMS Code is required
              </small>
          </div>
      </div>
      <br>
  </div>
  <br>
  <!-- <p class="otp-resend">
      <span (click)="resendCode()">Resend Code</span>
  </p> -->

  <p class="otp-resend">
    <span style="color: #005B82 !important; " ><span style="color: #005B82;" *ngIf="!resend">Resend Code in: {{transform(counter)}} </span><span *ngIf="resend" (click)="resendCode()" style="cursor: pointer;">Resend OTP</span></span>
</p>

  <div class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top">
    <ion-button size="small" mode="md" type="submit" [disabled]="otpForm.invalid" routerLink="/onboarding/auth"
    expand="block"
    fill="solid"
    >
    {{ loader.loading ? '' : 'Continue'}}
    <ion-spinner *ngIf="loader.loading" name="bubbles" color="light"></ion-spinner>
  </ion-button>
  </div>
</form>
</div>
