<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/next-of-kin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">

  <div class="progress-bar">
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step"></div>
    <div class="step"></div>
    <div class="step"></div>
  </div>
  <div class="container mx-auto p-4 w-full">
    <div>
      <h3 class="font-medium">
        Almost there, <br />
        Add your
        <span class="text-[#005B82]">occcupation</span> details
      </h3>
    </div>
  </div>

<div>
  <form   [formGroup]="authForm" style="">


    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Occupation<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable
          formControlName="branch"
          [items]="fruits"
          itemValueField="value"
          [hasInfiniteScroll]="true"
          placeholder="Select"
          [isEnabled]="true"
          itemTextField="text"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>


    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Industry<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable
          formControlName="branch"
          [items]="fruits"
          itemValueField="value"
          [hasInfiniteScroll]="true"
          placeholder="Select"
          [isEnabled]="true"
          itemTextField="text"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>


    <div>
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Employer name <span class="uk-text-danger" >*</span>
          </ion-label>
          <ion-input name="text" maxlength="35" type="text" formControlName="idNumber" label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['idNumber'].hasError('pattern') && f['idNumber']dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID must be a valid ID number
              address
          </small>
          <small class="error-message"
              *ngIf="f['idNumber'].hasError('required') && f['idNumber'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID number is required
          </small>
      </div>
  </div>
 <br>

 <div class="id_no uk-margin-small-top uk-margin-large-bottom">
  <div class="tool-section ion-padding">
   <div class="item-left">
    <span class="ion-text-center itm-head">What is your monthly income range?</span><br>

    <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
      <ion-radio-group>
        <ion-radio mode="md" name="radio1" value="end1" color="secondary" labelPlacement="end">0 - KES 15,000 </ion-radio> <br>
        <ion-radio mode="md" name="radio1" value="end2" color="secondary"  labelPlacement="end">KES 16,000 - KES 25,000</ion-radio> <br>
        <ion-radio mode="md" name="radio1" value="end3" color="secondary"  labelPlacement="end">KES 25,000 - KES 35,000</ion-radio> <br>
        <ion-radio mode="md" name="radio1" value="end4" color="secondary"  labelPlacement="end">KES 35,000 and Above</ion-radio>
      </ion-radio-group> <br>
    </div>
   </div>
   <div>
    <span>

    </span>
   </div>
  </div>
 </div>

  <div class="p-btn">
    <ion-button expand="block" mode="md" size="medium" (click)="toSelfie()">
      Proceed
    </ion-button>
  </div>



  </form>

</div>

</ion-content>
