<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth" (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="progress-bar">
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step"></div>
    <div class="step"></div>
  </div>
</ion-header>

<ion-content>
  <div>
    <div style="padding-left:10px; padding-top:30px;" >
      <h4 class="browse" style="width: 80%;">Choose the <span class="text-[#005B82]"> document type</span> you are using to create account
      </h4>
    </div>

    <div class="uk-margin-large-left" style="font-family: Roboto-regular !important; font-size: 14px;">
      <ion-radio-group (ionChange)="selectDocument($event)">
        <ion-radio mode="md" name="radio1" value="ID" labelPlacement="end" color="secondary">National ID</ion-radio> <br>
        <ion-radio mode="md"  style="padding-top: 10px;" name="radio1" color="secondary" value="PASSPORT" labelPlacement="end">Passport</ion-radio>
      </ion-radio-group> <br>
    </div>

    <div class="uk-margin-large-top browse" style="padding-left:10px; font-family: Roboto-Regular !important; font-size: 14px;">
      <h4 style="font-weight: 700; font-size: 14px; text-rendering: optimizeLegibility;">Make sure your document is:</h4>
      <div>
        <ul>
          <li>Clear and easy to read</li>
          <li>Valid for at lest 3 more months</li>
          <li>NOT a photo of a screen</li>
        </ul>
      </div>
     </div>

     <div>
      <div class="flex mx-auto justfy-center gap-4"  style="display: flex; justify-content: center; flex-direction: row;" >
        <span class="border">
          <img src="assets/images/id-tick.png" height="63" width="92" alt="">
        </span>

        <span class="border">
          <img src="assets/images/id-half.png" height="63" width="92" alt="">
        </span>
        <span class="border">
          <img src="assets/images/id-blur.png" height="63" width="92" alt="">
        </span>
      </div>
    </div> <br>

    <div class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top">
      <ion-button
      (click)="toIdScan()" size="small" mode="md"
       [disabled]="seletedDoc === ''"
      expand="block"
      fill="solid"
      >
      {{ loader.loading ? '' : 'Continue'}}
      <ion-spinner *ngIf="loader.loading" name="circular" color="light"></ion-spinner>
    </ion-button>
    </div>
  </div>
</ion-content>

