<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">Product Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="terms-content">
  <div class="terms-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa cupiditate nam error? Aut hic harum aliquid velit. Quis alias ex molestiae qui nesciunt debitis odio similique cupiditate? Optio, cumque.
  </div>

  <div>
    <ion-button color="primary" expand="block" (click)="viewRequirements()" >Continue</ion-button>
  </div>


</ion-content>
