<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">Product Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="terms-content">
  <h4 class="uk-text-center uk-margin-small-top title">{{data.name}}</h4>

  <div class="terms-text uk-text-center">
    {{data?.policyDecription}}
  </div>

  <div class="features">
    <h5 class="uk-text-center text-[#005B82]">Features</h5>

    <div class="uk-margin-small-right uk-margin-small-left">
     <span [innerHTML]="data.features"></span>
    </div>
  </div>

  <div class="features">
    <h5 class="browse uk-text-center text-[#005B82]">Opening Balance</h5>
    <div class="uk-text-center description" [innerHtml]="data.openningBalance"></div>
  </div>

  <div class="features">
    <h5  class="uk-text-center text-[#005B82]">Monthly Fees</h5>
    <div class="uk-text-center description" [innerHtml]="data.monthlyFee"></div>

  </div>



  <div class="features">
    <h5 class="uk-text-center text-[#005B82]">Target Market</h5>

    <div class="uk-margin-small-right uk-margin-small-left">
     <span [innerHTML]="data.targetMarket"></span>
    </div>
  </div>

  <div class="features">
    <h5 class="uk-text-center text-[#005B82]" >Benefits</h5>

    <div class="uk-margin-small-right uk-margin-small-left">
      <span [innerHTML]="data.benefits"></span>
    </div>

  </div>

  <div class="ion-margin">
    <ion-button color="primary" expand="block" (click)="viewRequirements()" >Continue</ion-button>
  </div>


</ion-content>
