<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">Product Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="terms-content">
  <h4 class="uk-text-center uk-margin-small-top title">Classic Current Account</h4>

  <div class="terms-text uk-text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa cupiditate nam error? Aut hic harum aliquid velit. Quis alias ex molestiae qui nesciunt debitis odio similique cupiditate? Optio, cumque.
  </div>

  <div class="features uk-text-center">
    <h5>Features</h5>

    <div class="uk-margin-small-right uk-margin-small-left">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati praesentium voluptatem atque magnam quidem nulla possimus assumenda
      </p>
    </div>
  </div>

  <div class="features uk-text-center">
    <h5>Benefits</h5>

    <div class="uk-margin-small-right uk-margin-small-left">
      <p >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati praesentium voluptatem atque magnam quidem nulla possimus assumenda
      </p>
    </div>

  </div>

  <div class="ion-margin">
    <ion-button color="primary" expand="block" (click)="viewRequirements()" >Continue</ion-button>
  </div>


</ion-content>
