<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account-types"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center" >Individual Account</ion-title>
  </ion-toolbar>
  <!-- <div class="progress-bar">
    <div class="step active"></div>
    <div class="step active"></div>
    <div class="step"></div>
    <div class="step"></div>
    <div class="step"></div>
  </div> -->
</ion-header>

<ion-content [fullscreen]="true" class="body-content">
  <div>

  </div>

</ion-content>
