<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/next-of-kin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body relative z-0" fullscreen>
  <div class="mx-4 flex items-center gap-2">
    <ion-progress-bar [value]="0.75"></ion-progress-bar>
    <span class="text-xs">6/7</span>
  </div>

  <div class="container mx-auto pt-2 px-4 w-full">
    <div>
      <h3 class="font-medium">
        You can now provide the details <br />
        of your
        <span class="text-[#005B82]">Joint Account</span> holders
      </h3>
    </div>
  </div>

  <div class="mx-4 flex flex-col">
    <form [formGroup]="occupationForm" class="flex flex-col">
      <div>
        <ion-item
          class="border p-2 mb-3"
          lines="none"
          style="
            background: rgba(var(--ion-color-primary-rgb, 0, 84, 233), 0.3);
            border: 1px #005b82 solid;
            border-radius: 5px;
          "
        >
          <ion-label class="font-medium text-xl">
            test&#64;gmail.com <br />
            0729176560
          </ion-label>
          <ion-icon (click)="removeMember('email')" mode="md" color="secondary" slot="end" name="trash-outline"></ion-icon>
        </ion-item>
      </div>

      <!-- Sticky Button -->
      <div class="sticky bottom-0 bg-[#f3f3f4] py-2 z-10">

        <div (click)="addMember()" class="border border-dashed border-[#bed600] justify-center rounded flex items-center h-[53px]">
          <div class="flex justify-center itemes-center gap-2 font-medium">
            <ion-icon name="person-add"></ion-icon>
            <span>Add Account Member</span>
          </div>
        </div>

        <ion-button
          class="text-black"
          size="medium"
          type="submit"
          mode="md"
          (click)="sendInvites()"
          expand="block"
          fill="solid"
          *ngIf="members.length > 0"
          >
          {{ loader.loading ? "" : "Continue" }}
          <ion-spinner
            *ngIf="loader.loading"
            name="circular"
            color="secondary"
          ></ion-spinner>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
