<ion-content
[fullscreen]="true"
[scrollEvents]="true"
(ionScrollStart)="handleScrollStart()"
(ionScroll)="handleScroll($any($event))"
(ionScrollEnd)="handleScrollEnd()"
>
  <div id="container">
    <div class="logo-img">
      <img src="../../assets/images/logo-white.png" alt="Logo" height="83" width="167"/>
    </div>

   @if(scrollTop < 100 && !isScrolling){
    <div class="down-arrow">
      <div class="arrow-icon animate__animated animate animate__bounce animate__infinite animate_slower">
        <ion-icon slot="fixed" color="primary" name="chevron-down-circle-outline"></ion-icon>
      </div>
    </div>
   }

    <div class="welcome-info">
      <span class="welcome-title">
        Welcome to <br> Ecobank's Digital <br> Account Opening
      </span>
      <p class="welcome-desc">Open your new account online quickly, <br> easy, anytime and anywhere with <br> just a few steps.
        <!-- <button class="pulseBtn" (click)="viewSteps()">view steps</button> -->
      </p>

    </div>

    <div class="step-section" >
      <div class="content">
        <img src="../../assets/images/description.png" alt="" height="400">
      </div>
    </div>


    <div class="start-btn">
      <ion-button color="primary" expand="block" mode="md" [routerLink]="['/account-types']" routerLinkActive="router-link-active" >
        @if(!loading) {
          Let's Get Started
        }
        @if(loading){
          <ion-spinner name="circular"></ion-spinner>
        }
      </ion-button>
    </div>

    <div class="help-section">
      <span style="padding-top: 2px; font-size: 12px;">Need Help?</span>
      <p style="font-size: 12px !important; font-weight: 600 !important;">Call Us at (+254) 709 573 000</p>
      <div class="social">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <img src="assets/images/x.png" height="15" width="17" alt="X-Logo"/>
      </div>
      <p style="font-weight: 600 !important; text-decoration: underline; font-size: 12px;">kenya&#64;ecobank.com</p>
    </div>

  </div>
</ion-content>
