<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/identification"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="uk-margin-small-top">
    <div  class="uk-margin-large-left ">
      <div>
        <h4 class="browse" style="width: 80%;">Take a photo of your<strong style="color: #005B82 !important; "> {{this.selectedDocument}} </strong> &
          <strong style="color: #005B82 !important; "> Signature</strong>
        </h4>
      </div>
    </div>
    <div class="">
      <!--ID-->
      @if(this.selectedDocument === 'ID'){
        <div class="ion-padding">
        <div class="uk-container uk-container-xsmall">
          <div class="uk-card uk-card-default uk-width-1-1" (click)="selectDocToScan('ID')"
            *ngIf="!loader?.scanningBack && !loader?.savingBack && !loader?.savedBack">
            <div class="uk-card-media-top" *ngIf="backImage.length > 0">
              <img [src]="this.backImage" width="100%" alt="Back ID" style="border: solid 3px #005B82; border-radius: 4px;">
            </div>
            <div class="uk-card-footer" *ngIf="backImage.length === 0" style="background-color: #f5f5f5;">
              <div class="" uk-grid>
                <div class="uk-width-3-4">
                  <a style="font-family: Roboto-Medium !important;"
                    class="uk-button uk-button-text">
                    <span>
                      <img src="assets/images/id-good.png" height="50" width="50" alt="passport icon">
                    </span>
                    <strong>Scan National ID</strong>
                  </a>
                </div>
                <div class="uk-width-1-4">
                  <span class="uk-align-right">
                    <ion-icon class="iconSize" name="chevron-forward-outline"></ion-icon>
                    <!-- @if(loader.scanningPassport){
                      <ion-spinner *ngIf="loader.scanningPassport" name="circular" color="secondary"></ion-spinner>
                    }
                    @if(!loader.scanningPassport){
                      <ion-icon class="iconSize" name="chevron-forward-outline"></ion-icon>
                    } -->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card uk-card-default uk-width-1-1"
            *ngIf="loader?.scanningBack || loader?.savingBack || loader?.savedBack">
            <div class="uk-text-center">
              <div style="justify-content: center; display: flex; margin-bottom: 0;">
                <span *ngIf="loader?.savedBack"><img class="uk-margin-medium-top" src="assets/icons/saved.png" alt=""></span>
              </div>

              <span *ngIf="!loader?.savedBack" class="uk-margin-medium-top" uk-spinner="ratio: 1"></span>
              <p *ngIf="loader?.scanningBack" class="uk-margin-small-bottom browse2"><strong>Scanning Back of ID</strong>
              </p><br>
              <p *ngIf="loader?.savingBack" class="uk-margin-small-bottom browse2"><strong>Saving Back of ID</strong></p>
              <br>
              <p *ngIf="loader?.savedBack" class="uk-margin-small-bottom browse2"><strong>Back of ID Saved</strong></p>
              <br>
            </div>
          </div>
        </div>
      </div>
      }

      <!--PASSPORT-->
      @if(this.selectedDocument === 'PASSPORT'){
        <div class="ion-padding">
          <div class="uk-container uk-container-xsmall">
            <div class="uk-card uk-card-default uk-width-1-1" (click)="selectDocToScan('PASSPORT')">

            @if(passportImage.length > 0 && !loader.scanningPassport && loader.passportScanSuccess){
              <div class="uk-card-media-top">
                <img [src]="this.passportImage" width="100%" alt="Passport" style="border: solid 3px #005B82; border-radius: 4px;">
              </div>
            }

            @if((passportImage.length <= 0 || loader.scanningPassport) || !loader.passportScanSuccess){
              <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                <div class=" uk-flex uk-flex-between">
                  <div>
                    <span>
                      <img src="assets/images/id-good.png" height="50" width="50" alt="passport">
                    </span>
                    <strong>
                      @if(loader.scanningPassport && !loader.savingPassport){
                      Scanning Passport
                      }
                      @if(!loader.scanningPassport && !loader.savingPassport){
                        Scan Passport
                      }

                    </strong>
                  </div>
                  <div>
                    @if(loader.scanningPassport){
                      <ion-spinner *ngIf="loader.scanningPassport" name="circular" color="secondary"></ion-spinner>
                    }
                    @if(!loader.scanningPassport){
                      <ion-icon class="iconSize" name="chevron-forward-outline"></ion-icon>
                    }
                  </div>
                </div>
              </div>
            }
            </div>
          </div>
        </div>
      }


      <!--SIGNATURE-->
      <div class="ion-padding">
        <div class="uk-container uk-container-xsmall">
          <div class="uk-card uk-card-default uk-width-1-1" (click)="selectDocToScan('SIGNATURE')"
            *ngIf="!loader?.scanningBack && !loader?.savingBack && !loader?.savedBack">
            <div class="uk-card-media-top" *ngIf="this.signImage.length > 0">
              <img [src]="this.signImage" width="100%" alt="" style="border: solid 3px #005B82; border-radius: 4px;">
            </div>

            @if((this.signImage.length <= 0 || loader.scanningSignature) || !loader.signatureScanSuccess){
              <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                <div class=" uk-flex uk-flex-between">
                  <div>
                    <span>
                      <img src="assets/images/sign.png" height="50" width="50" alt="signature">
                    </span>
                    <strong>
                      @if(loader.scanningSignature && !loader.savingSignature){
                      Scanning Signature
                      }
                      @if(!loader.scanningSignature && !loader.savingSignature){
                        Scan Signature
                      }
                    </strong>
                  </div>
                  <div>
                    @if(loader.scanningPassport){
                      <ion-spinner *ngIf="loader.scanningSignature" name="circular" color="secondary"></ion-spinner>
                    }
                    @if(!loader.scanningSignature){
                      <ion-icon class="iconSize" name="chevron-forward-outline"></ion-icon>
                    }
                  </div>
                </div>
              </div>
            }

          </div>
        </div>
      </div>
    </div>
    <div class="id_no uk-text-center" *ngIf="this.signImage.length > 0">
     <div>
      <h4 class="ion-text-center uk-margin-small-top">ID Number: <strong>34425310</strong></h4>
     </div>
    </div>

    <div class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top">
      <ion-button
      (click)="toPreference()" size="small" mode="md"
      expand="block"
      fill="solid"
      >
      {{ loader.loading ? '' : 'Continue'}}
      <ion-spinner *ngIf="loader.loading" name="circular" color="light"></ion-spinner>
    </ion-button>
    </div>

  </div>
</ion-content>
